@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@font-face{
    font-family:"russo";
    src:url("../fonts/Russo_One.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
    background: #000;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky{
    padding: 10px 100px;
    background: #222729;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo{
    position: relative;
    font-family: "russo", sans-serif;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition:0.6s;
}

header .logo span{
    color:#4978ff;
    font-family: "russo", sans-serif;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position:relative;
    margin: 0 15px;
    text-decoration:none;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 300;  
}

header.sticky .logo,
header.sticky ul li a{
    color:#fff;
}

.banner{
    position: relative;
    width:100%;
    min-height: 100vh;
    background: url(../img/01.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.1;  
}

.captionBanner h2{
    color:#fff;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.captionBanner h2 span{
    color:#4978ff;
}

.captionBanner{
    width:100%;
    max-width: 100%;
    position: absolute;
    top:38%;
    color:#fff;
    text-align: center;
}

.btnContacto{
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 14px 25px 14px 25px;
    border-radius: 8px;
    background: #ff0049;
    top:50px;
}

/* Quienes somos */
.sec{
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
    position: relative;
    width: 100%;
}

#home, #about, #services, #portfolio, #contact{
    text-align: center;
}

#about{
    background:#2b3a4f;
    color:#ddd;
}

.mxw800p{
    max-width: 800px;
    margin:0 auto;
}

h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#fff;
}

p{
    position: relative;
    font-size: 18px;
    font-weight:300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #03a9f4;
    text-decoration: none;
    color:#fff;
}

/* Services */
#services{
    background:#1a212b;
    color:#fff;
}

.services{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box{
    width:300px;
    margin: 0 auto;
    background: #fff;
    padding:20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}

.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
    max-width: 70px;
    margin-bottom:10px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Portfolio */
#portfolio{
   background:#2b3a4f;
   color:#ddd; 
}

.workBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    max-width: 100%;
    margin-top: 40px;
}

.workBx .brand{
    position: relative;
    background: #fff;
    min-height: 300px;
    width:250px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBx .brand:hover{
    background:#000;
}

.workBx .brand a{
    text-decoration: none;
    color:rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand:hover a{
    color:rgba(255,255,255,1);
}

/* Team */
#team{
    background:#1a212b;
    color:#fff;
}

.title-box{
    text-align: center;
}

.perfil-box{
    position: relative;
    width:280px;
    height:290px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px; 
    transition:background 0.5s;
}

.perfil-box img{
    width:100px;
    position: absolute;
    top:20px;
    right:20px;
    border-radius:4px;
    transition: .5s;
}

.perfil-box h4{
    margin-top: 25px;
    margin-bottom: 5px;
    color:#2a3b47;
}

small{
    color:#555;
}

.social-box{
    background: #4978ff;
    margin:45px auto 20px;
    text-align: center;
    border-radius: 3px;
}

.social-box .fa{
    margin: 5px;
    color:#fff;
}

.perfil-box p{
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color:#555;
    top: 15px;
}

.team-row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
    margin-top: 50px;
}

.perfil-box img:hover{
    width:240px;
    z-index: 1;
}

.perfil-box:hover{
    background: #4978ff; 
}

.perfil-box:hover h4{
    color:#fff;
}

.perfil-box:hover p{
    color:#fff;
}

.perfil-box:hover small{
    color:#fff;
}

/* Contact */
.contact{
    background: #000;
}

.contact h3,
.contact p{
    color:#fff;
}

.contactForm{
    position: relative;
    max-width: 800px;
    margin:0 auto;
    display: flex;
}

.contactForm form{
    width:100%;
}

.contactForm .row100{
    display:flex;
    width:100%;
}

.contactForm .row100 .inputBx50{
    width:50%;
    margin:0 20px;
}

.contactForm .row100 .inputBx100{
    width:100%;
    margin:0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff;
    background: transparent;
    width:100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin:20px 0;
    resize:none;
}

.contactForm .row100 textarea{
    height:100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color:rgba(255,255,255,0.5);
}

.contactForm .row100 input[type="submit"]{
    background: #fff;
    color:#000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor:pointer;
    font-weight: 500;
}

.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul{
    display: flex;
}

.sci ul li{
    list-style: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin:0 30px;

}

.sci ul li a img{
    filter:invert(1);
    max-width: 40px;
}

.sci ul li a:hover img{
    opacity: 0.5;
}

.toggle{
    display:none;
}

/*Responsive design*/
@media(max-width:480px){

.team-row{
    margin: auto;
    width:100%;
}

.social-box .fa{
    margin:12px!important;}
}

@media(max-width:992px){

.toggle{
    display: block;
    position:relative;
    width:30px;
    height:30px;
    cursor: pointer;
} 

.toggle:before{
    content:'';
    position: absolute;
    top:4px;
    width:100%;
    height:2px;
    background: #fff;
    z-index: 1;
	box-shadow:0 10px 0 #fff;  
}

.toggle:after{
    content:'';
    position: absolute;
    bottom:4px;
    width:100%;
    height:2px;
    background: #fff;
    z-index: 1;   
}
    
header,
header.sticky{
    padding: 8px 50px;
}

header ul{
    position: absolute;
    top:46px;
    left:0;
    width:100%;
    height:100vh;
    text-align: center;
    overflow: auto;
    background: #000;
    visibility: hidden;
    opacity: 0.1;
}
    
header.active ul{
    visibility:visible;
    opacity:1;
    display:block;
    padding-top: 20px;
}
    
header.active ul li a{
    display: inline-block;
    margin: 10px 0;
    font-size:20px;
}
    
.banner{
   background-position: center;
}
    
.banner h2{
    font-size: 60px;
    padding: 0 50px;
}
    

    
.services .box{
    width: 100%;
}
    
.row100{
    flex-direction: column;
}
    
.contactForm .row100 .inputBx50,
.contactForm .row100 .inputBx100{
    width: 100%;
    margin:0;
}
    
.sci{
    margin: 20px;
}

.sci ul li a img{
    font-size: 24px;
}
	
h2 span{
    font-size: 40px;
}

h3{
    font-size: 36px;
}
	
.captionBanner h2,
.captionBanner h2 span{
    font-size:40px;
}
	
.btnContacto{
    font-size:15px;
}
}




